.image {
  background-color: #000000;
  width: 100vw; /* 100% širine ekrana */
  padding: 0;
  margin-top: 2vh; /* Uklanja nepotrebne margine */
  display: flex;
  justify-content: center; /* Centriranje elemenata */
  flex-wrap: wrap;
  gap: 3rem; /* Manji razmak za bolji raspored */
  color: white;
  font-family: Arial, sans-serif;
  align-items: center;
}

/* Responzivnost */

@media (max-width: 2560px) {
  .image {
    gap: 2rem;
    flex-direction: row; /* Osigurava horizontalni raspored na većim ekranima */
    margin-top: 10vh;

  }
}

@media (max-width: 1440px) {
  .image {
    gap: 2rem;
    flex-direction: row; /* Osigurava horizontalni raspored na većim ekranima */
    margin-top: 10vh;
  }
}

@media (max-width: 1024px) {
  .image {
  
    flex-direction: row; /* Osigurava horizontalni raspored na većim ekranima */
    width: 100%;
  }
}

@media (max-width: 768px) {
  .image {
    min-height: 30vh; /* Reduce the container height on the smallest screens */
    margin-top: 9vh;
  }
}



@media (max-width: 480px) {
  .image {
    min-height: 30vh; /* Reduce the container height on the smallest screens */
    margin-top: 10vh;
  }

  .image img {
    width: 100%; /* Ensure the image fills the container on small screens */
    height: auto; /* Maintain aspect ratio */
  }
}

@media (max-width: 425px) {

  .image {
    min-height: 30vh; /* Reduce the container height on the smallest screens */
    margin-top: 5vh;
    flex-direction: row;
    max-width: 425px;
    
  }
}

@media (max-width: 390px) {

  .image {
    max-width: 100%;
    min-height: 20vh;
    margin-top: 10vh;
    
  }
}

@media (max-width: 376px) {

  .image {
    max-width: 100%;
    min-height: 20vh;
    margin-top: 10vh;
    
  }
}
